[package]
name = "main"
version = "0.1.0"
edition = "2021"

[profile.dev]
opt-level = 1 

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sdl2 = "0.35"
debug-cell = "0.1.1"